# Data Cleaning

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Read both .csv files for cleaning
* Ames Real Estate Data = data
* Amex_HousePrice = house

In [7]:
data = pd.read_csv("Ames Real Estate Data.csv", index_col=0)
house = pd.read_csv('Ames_HousePrice.csv', index_col=0)

Start with data

In [10]:
data.columns

Index(['GeoRefNo', 'Tier', 'Range', 'Prop_Addr', 'ZngCdPr', 'ZngCdSc',
       'ZngOLPr', 'ZngOLSc', 'ClassPr_S', 'ClassSc_S', 'Legal_Pr', 'SchD_S',
       'TxD_S', 'MA_Ownr1', 'MA_Ownr2', 'MA_Line1', 'MA_Line2', 'MA_City',
       'MA_State', 'MA_Zip1', 'MA_Zip2', 'Rcrd_Yr', 'Rcrd_Mo', 'Inst1_No',
       'Inst1_Yr', 'Inst1_Mo', 'Inst1TPr', 'LndAc_S', 'ImpAc_S', 'OthAc_S',
       'TtlVal_AsrYr', 'ValType', 'X1TPr_D', 'X1TSc_D', 'X2TPr_D', 'X2TSc_D',
       'X1TPr_S', 'X1TSc_S', 'X2TPr_S', 'X2TSc_S', 'LndAcX1S', 'ImpAcX1S',
       'ImpAcX2S', 'HSTtl_D', 'MilVal_D', 'HSTtl_S', 'MilVal_S', 'AcreX_S1',
       'AcreGr', 'AcreNt_S', 'Neighborhood', 'LotArea', 'ParType', 'BldgNo_S',
       'DwlgNo_S', 'BldgType', 'YrBuilt', 'HouseStyle', 'Foundation',
       'RoofMatl', 'Ext1', 'Ext2', 'MasVnrType', 'Heating', 'Central Air',
       'GLA', 'TtlBsmtSF', 'TotRmsAbvGrd', 'Fireplaces', 'PoolArea',
       'GarageType', 'GarYrBlt', 'Cars', 'GarageArea', 'YrSold_YYYY',
       'MoSold_MM', 'SalePrice', 'SaleType', 'SaleCond', 'ParclRel', 'PA-Nmbr',
       'PA-PreD', 'PA-Strt', 'PA-StSfx', 'PA-PostD', 'PA-UnTyp', 'PA-UntNo',
       'Date', 'Source', 'NmbrBRs'],
      dtype='object')

Checking for NAs

In [15]:
data.isnull().sum()

GeoRefNo         0
Tier             0
Range            0
Prop_Addr       20
ZngCdPr        106
             ...
PA-UnTyp     14468
PA-UntNo     14096
Date             0
Source           0
NmbrBRs       4308
Length: 90, dtype: int64

In [18]:
data.columns[data.isna().any()]

Index(['Prop_Addr', 'ZngCdPr', 'ZngCdSc', 'ZngOLPr', 'ZngOLSc', 'MA_Ownr2',
       'MA_Line1', 'MA_Line2', 'MA_City', 'MA_State', 'MA_Zip1', 'MA_Zip2',
       'Rcrd_Yr', 'Rcrd_Mo', 'Inst1_No', 'Inst1_Yr', 'Inst1_Mo', 'Inst1TPr',
       'X1TPr_D', 'X1TSc_D', 'X2TPr_D', 'X2TSc_D', 'X1TPr_S', 'X1TSc_S',
       'X2TPr_S', 'X2TSc_S', 'HSTtl_D', 'MilVal_D', 'HSTtl_S', 'MilVal_S',
       'Neighborhood', 'LotArea', 'ParType', 'BldgType', 'YrBuilt',
       'HouseStyle', 'Foundation', 'RoofMatl', 'Ext1', 'Ext2', 'MasVnrType',
       'Heating', 'Central Air', 'GLA', 'TtlBsmtSF', 'TotRmsAbvGrd',
       'Fireplaces', 'PoolArea', 'GarageType', 'GarYrBlt', 'Cars',
       'GarageArea', 'YrSold_YYYY', 'MoSold_MM', 'SalePrice', 'SaleType',
       'SaleCond', 'PA-Nmbr', 'PA-PreD', 'PA-Strt', 'PA-StSfx', 'PA-PostD',
       'PA-UnTyp', 'PA-UntNo', 'NmbrBRs'],
      dtype='object')

In [19]:
data.head()

,GeoRefNo,Tier,Range,Prop_Addr,ZngCdPr,ZngCdSc,ZngOLPr,ZngOLSc,ClassPr_S,ClassSc_S,...,PA-Nmbr,PA-PreD,PA-Strt,PA-StSfx,PA-PostD,PA-UnTyp,PA-UntNo,Date,Source,NmbrBRs
MapRefNo,,,,,,,,,,,,,,,,,,,,,
520400001,520400001,0,0,4599 GEORGE W CARVER AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,VACANT LAND - IMPROVED OR UNIMPROVED,...,4599,NaN,GEORGE W CARVER,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
520440010,520440010,0,0,4507 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,VACANT LAND - IMPROVED OR UNIMPROVED,...,4507,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
520440020,520440020,0,0,4513 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,VACANT LAND - IMPROVED OR UNIMPROVED,...,4513,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
520445001,520445001,0,0,3449 BARCELOS ST,FS-RL,NaN,NaN,NaN,RESIDENTIAL,ASSOCIATION COMMON AREA,...,3449,NaN,BARCELOS,ST,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN
520445010,520445010,0,0,4506 EVEREST AVE,FS-RL,NaN,NaN,NaN,RESIDENTIAL,VACANT LAND - IMPROVED OR UNIMPROVED,...,4506,NaN,EVEREST,AVE,NaN,NaN,NaN,10-Jul-20,Ames City Assessor,NaN

- Doesn't seem like there's much in data
- Move onto house

In [20]:
house.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
2,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
3,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
4,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
5,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal