In [7]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('dum_scaled_data.csv', index_col=0)

In [5]:
price = pd.read_csv('price_target.csv', index_col=0)

In [6]:
price

      SalePrice
0        126000
1        139500
2        124900
3        114000
4        227000
...         ...
2575     121000
2576     139600
2577     145000
2578     217500
2579     215000

[2580 rows x 1 columns]

In [4]:
lasso = Lasso()
ridge = Ridge()
elasticnet = ElasticNet()